<div class="coming-soon-container">
  <h1>Yeni Teknoloji Bloğu!</h1>
  <p class="subtitle">Telefon, tablet ve bilgisayarlarınızı kullanmak hiç bu kadar kolay olmadı. Bilmediğiniz onlarca özellik ve elinizin altında duran hazinelerin farkına varacaksınız.</p>
  <div id="content">
    <p>Dipnot! Bu siteyi 11 Şubat 2024 tarihi itibariyle son sürüm olan Angular 17 ile yazıyorum. Bilmediğim çok şey var. Temel hedefim Angular bilgilerimi geliştirmek. Zamanla yeni özellikler ekleyebileceğim ve sadece kod yazmakla kalmayıp, paylaşımlar yapabileceğim bir site yazmak.</p>

    <p>Üzgünüm biraz bekleyeceksiniz ama buna değecek.</p>
  </div>
</div>